.exercise{
    background-color: bisque;
    width: 200px;
    height: 500px;
    border: 1px solid black;
    border-radius: 8px;
    position: relative;
    
}


.exercise img{
    width: 180px;
    height: 180px;
    border-radius: 8px;
    margin: 7px;
}

.exercise-info {
    margin: 0 14px;
}
.exercise-info p{
  margin-bottom: 0;
  margin-top: 5px;
}




.btn-list {
    width: 100%;
    background: orange;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
}

.btn-list:hover {
    background-color: red;
}